@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #6EACDA;
  --color-darkTheme: #0a0a0a;

  --font-Outfit: var(--font-outfit), sans-serif;
  --font-Ovo: var(--font-ovo), serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

@custom-variant dark (&:where(.dark, .dark *));
